<div data-ng-init="init()">
  <div class="col-md-7 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Map</h4>
      </div>
      <div class="panel-body">
        <div id="map-canvas"></div>
      </div>
    </div>  
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Data</h4>
      </div>
      <div class="panel-body">
        <div id="schoolDetails"></div>
      </div>
    </div>
  </div>
</div>