<div data-ng-init="init()">
  <div class="col-md-7 ">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Map</h4>
      </div>
      <div class="panel-body">
        <div id="map-canvas"></div>
      </div>
    </div>  
  </div>
  <div class="col-md-5">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Data</h4>
      </div>
      <div class="panel-body">
        <div id="schoolDetails">
          <table class="table table-striped"><thead><tr><td>School Name</td><td>Ambujambal HS- St John's Road</td></tr></thead><thead><tr><td>Route Name</td><td>S S GARDEN</td></tr></thead><thead><tr><td>Route Code</td><td>RC00023</td></tr></thead><thead><tr><td>Range</td><td>Block Education Officer,North Range- 3</td></tr><tr><td>Type</td><td>MDMML</td></tr><tr><td>Class</td><td>B-1-5</td></tr></thead><tbody></tbody></table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading"><h4>Graph for {{selected.school.name}}</h4></div>
      <div class="panel-body">
        <div id="smallerGraph">&nbsp;</div>
      </div>
    </div>
  </div>
</div>