<div>
  <form name="addSchoolForm" role="form" >
     <div class="form-group">
       <label for="exampleInputEmail1">Name of the School</label>
       <input type="text" data-ng-model='newSchool["School Name "]' class="form-control">
     </div>
     
    <div class="form-group">
      <label for="exampleInputEmail1">Class</label>
      <input type="text" data-ng-model='newSchool["Class"]' class="form-control">
    </div>   

    <div class="form-group">
      <label for="exampleInputEmail1">Range</label>
      <input type="text" data-ng-model='newSchool["Range"]' class="form-control">
    </div>       
 
    <div class="form-group">
      <label for="exampleInputEmail1">Route Code</label>
      <input type="text" data-ng-model='newSchool["Route Code"]' class="form-control">
    </div>  

    <div class="form-group">
      <label for="exampleInputEmail1">Route Name</label>
      <input type="text" data-ng-model='newSchool["Route Name"]' class="form-control">
    </div>  

    <div class="form-group">
      <label for="exampleInputEmail1">Slno</label>
      <input type="text" data-ng-model='newSchool["Slno"]' class="form-control">
    </div>     
   
    <div class="form-group">
      <label for="exampleInputEmail1">Type</label>
      <input type="text" data-ng-model='newSchool["Type"]' class="form-control">
    </div>  
    
    <div class="form-group">
      <label for="exampleInputEmail1">location</label>
      <input type="text" data-ng-model='newSchool["location"]' class="form-control">
    </div>  

    <div class="form-group">
      <label for="exampleInputEmail1">Longitude</label>
      <input type="text" data-ng-model='newSchool["log"]' class="form-control">
    </div>  

    <div class="form-group">
      <label for="exampleInputEmail1">The other thing</label>
      <input type="text" data-ng-model='newSchool["lon"]' class="form-control">
    </div>  
     
     <div class="form-group">
       <div class="btn-group">
          <button class="btn btn-danger" data-ng-click="reset()"> Reset</button>
          <button class="btn btn-success" data-ng-click="addSchool()"> Save</button>
       </div>
     </div>
  </form>
</div>