<accordion close-others="true">
  <accordion-group  heading="{{school['School Name ']}}" data-ng-repeat='school in schools'>
    <div >
      <li>Class: {{school.Class}}</li>
      <li>Range: {{school.Range}}</li>
      <li>Route Code:{{school['Route Code']}} </li>
      <li>Route Name:{{school['Route Name']}} </li>
      <li>School Name : {{school['Route Name ']}} </li>
      <li>Slno: {{school.Slno}}</li>
      <li>Type: {{school.}}</li>
      <li>location: {{school.Type}}</li>
      <li>log: {{school.log}}</li>
      <li>lon: {{school.lon}}</li>
    </div>
  </accordion-group>
</accordion>