<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-ng-click="collapsed = !collapsed" data-target=".navbar-collapse">
        <span class="icon-toggle"></span>
      </button>
      <a class='navbar-brand'>Flight Simulator 2008</a>
    </div>
    <div class="navbar-collapse collapse" data-collapse="!collapsed">
      <ul class="nav navbar-nav navbar-right">
        <li >
          <a href="/#/" data-toggle="dropdown" href="admin.html"><i class="glyphicon glyphicon-user"></i> Dashboard </a>
        </li>
        <li >
          <a href="/#/schools" data-toggle="dropdown" href="admin.html"><i class="glyphicon glyphicon-user"></i> Schools </a>
        </li>   
        <li >
          <a href="/#/school/add" data-toggle="dropdown" href="admin.html"><i class="glyphicon glyphicon-user"></i> Add School </a>
        </li>    
        <li><a href="#"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
      </ul>
    </div>
  </div><!-- /container -->
</div>